[gpg]
        format = ssh
[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
        gpgsign = true
[user]
        name = rfhold
        email = robert@robhold.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGGBlbLdkqE4FisaAfYJbj6RiyCWxoxoz3REPF9By6xT
[core]
        editor = vim
[safe]
	directory = /Users/robert/armbian/build
